.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: rgb(92,107,192);
    background: linear-gradient(94deg, rgba(92,107,192,1) 34%, rgba(66,250,198,1) 100%);
}

.Quiz h1 {
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 800px;
}